.generate-qrcode {
  display: block;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  width: 100%;
  padding-top: 150px;
  text-align: center;

  .button {
    background-color: #272524;
    border-radius: 6px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 100%;
    padding: 10px 21px;
    width: 250px;

    &:hover {
      opacity: 0.8;
    }
  }

  .selection-field {
    margin-bottom: 90px;

    .error-message {
      margin-top: 10px;
    }
  }

  .qrcode-button {
    margin-bottom: 60px;
  }
}




