.generate-qrcode {
  display: block;
  flex-direction: column;
  justify-content: space-around;
  height: 500px;
  width: 100%;
  padding-top: 150px;
  text-align: center;

  .button {
    width: 250px;
  }

  .selection-field {
    margin-bottom: 90px;

    .error-message {
      margin-top: 10px;
    }
  }

  .qrcode-button {
    margin-bottom: 60px;
  }
}




