.sign-in-component {
  display: block;
  padding-top: 20px;
  height: 200px;
  background-color: #FF6D00;
  
  .user-profile {
    img {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  
    .message {
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: bold;
    }
  }
  
  .google-button {
    width: 200px;
    border-radius: 6px !important;
    background-color: black !important;
    color: #fff !important;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 16px !important;

    &:hover {
      opacity: 0.8;
    }

    div {
      background-color: black !important;
    }

    svg {
      padding-top: 3px;
    }
  }
  
}